* {
	background: white;
	color: black;
	font-family: times, serif;
	text-decoration: none;
	overflow: visible;
}

.mdl-layout-title {
    margin-left: -70px;
}

#tigerbucks, #eservices, #calculate-button {
    display: none;
}

#balance-card, #date-card {
    display: none;
}

.mdl-snackbar, .mdl-snackbar__text, .mdl-snackbar__action {
    display: none;
}

.separator, #contact-link {
    display: none;
}

#summary-card, #table-card {
    display: block;
}

#summary-card {
    margin-top: -60px;
    margin-left: -10px;
    margin-right: 20px;
}

#table-card {
    margin-left: -20px;
}

table {
    font-size: 1.5em;
}

td {
    padding: 8px;
}