/* reset margins and padding */
* {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
}

/* disable horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #E0E0E0;
}

html {
	position: relative;
	min-height: 100%;
}

p {
	margin: 10px;
}

/* disable input borders */
.mdl-textfield {
    outline: none;
    margin-bottom: -10px;
}

/* override text highlight color */
::selection {
    background: #FFCC80;
}
::-moz-selection {
    background: #FFCC80;
}

/* make floating labels unselectable */
.mdl-textfield--floating-label {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* header */
.mdl-layout__header {
    background-color: #FF5722;
}

.mdl-layout-title {
    color: white;
    font-size: 1.5em;
    margin-left: -40px;
}

#tigerbucks, #eservices {
    color: white;
    font-size: 1.4em;
}

#tigerbucks-overflow, #eservices-overflow {
    display: none;
}

.mdl-menu__item a {
    text-decoration: none;
}

.mdl-menu__item * {
    color: #494949;
    font-weight: normal;
}

#overflow {
    color: white;
}

#content {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.inside-grid {
    margin-bottom: -30px;
}

.card-wide.mdl-card {
    width: 100%;
    margin-bottom: 20px;
}

.card-contents {
    margin-left: 20px;
}

h4 {
    margin-bottom: 0;
}

select {
    background: transparent;
    border: none;
    font-size: 1.5em;
    margin-bottom: 30px;
}

select:active, select:hover {
    outline-color: #FF5722;
}

.select-section {
    margin-left: -10px;
    margin-top: 0;
}

.two-part-section-start {
    margin-left: -10px;
}

.mdl-textfield__input {
    font-size: 1.5em;
}

#date-section {
    margin-bottom: -25px;
}

/* datepicker */
.ui-datepicker {
    width: auto;
    height: auto;
    font-family: Roboto, Arial, sans-serif;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker table td {
    padding: 10px;
    font-size: 1.5em;
}

.mdl-button--raised.mdl-button--colored {
    margin-bottom: 20px;
    width: 100%;
    background-color: #FF5722;
    color: white;
    font-size: 1.5em;
}

#summary-contents {
    margin: 10px;
}

#summary-contents > * {
    text-align: center;
}

#summary {
    color: #FF5722;
}

#results-table {
	margin-left: auto;
	margin-right: auto;
    font-size: 1.5em;
    margin-top: 20px;
}

td:not(.head-item) {
	padding: 10px;
    text-align: center;
}

footer {
    background-color: #FF5722;
    color: white;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
}

.stickToBottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

.mobile-only {
    display: none;
}

.ui-widget {
    outline: none;
}

#dialog-link-text {
    outline: none;
}

/* media queries */
@media only screen and (max-width : 1279px) {
    select {
        font-size: 1.25em;
    }

    #content {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width : 1124px) {
    .mdl-textfield {
        margin-bottom: 0;
    }

    select {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

	.full-width-when-tablet {
        width: 100%;
	}

    .mdl-tooltip--left {
        display: none;
    }

    .mdl-tooltip--right {
        display: none;
    }

    form {
        width: 90%;
    }

    .two-part-section-end {
        margin-left: -10px;
    }

    .last-item {
        margin-bottom: 10px;
    }

    #rollover-remaining-section {
        margin-top: -20px;
    }

    #date-section {
        margin-bottom: -15px;
    }

    #custom-dining-form {
        margin-left: -20px;
        margin-bottom: -15px;
    }

    #remaining-form {
        margin-left: -17px;
    }

    #past-days-off-form {
        margin-left: -17px;
    }

    .inside-grid {
        margin-bottom: 20px;
    }

    #date-card .inside-grid {
        margin-bottom: -10px;
    }

    .mdl-cell--6-col {
        margin-bottom: -10px;
    }
}

/* when it becomes one column */
@media only screen and (max-width : 839px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    #content {
        margin-top: 0;
    }

    #mobile-footer {
        width: 140%;
        margin-left: -20%;
        padding: 1px;
    }

    .mdl-tooltip--left {
        display: block;
    }

    .mdl-tooltip--right {
        display: block;
    }

    .mdl-tooltip--right.mobile-only {
        display: none;
    }

    .half-width-when-phablet {
        width: 45%;
    }
}

@media only screen and (max-width : 649px) {
    #content {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width : 629px) {
    #show-hints {
        display: none;
    }
}

@media only screen and (max-width : 549px) {
    .mdl-tooltip:not(.table-tip) {
        display: none;
    }
}

@media only screen and (max-width : 499px) {
    #tigerbucks, #eservices {
        display: none;
    }

    .half-width-when-phablet {
        width: 100%;
    }

    a:not(.contact-link), a:not(.contact-link):visited {
        color: #303030;
        text-decoration: none;
        font-weight: normal;
    }

    #tigerbucks-overflow, #eservices-overflow {
        display: block;
        text-decoration: none;
    }
}

@media only screen and (max-width : 429px) {
    #results-table {
        font-size: 1.2em;
    }
}

@media only screen and (max-width : 399px) {
    .ui-datepicker {
       margin-left: -5%;
    }

    .ui-datepicker table td {
        padding: 8px;
        font-size: 1.5em;
    }
}

@media only screen and (max-width : 349px) {
    #results-table {
        font-size: 1em;
    }

    .ui-datepicker table td {
        padding: 5px;
        font-size: 1.5em;
    }

    .mdl-layout-title {
        margin-left: -20%;
    }
}

@media only screen and (max-width : 299px) {
    .mdl-layout-title {
        margin-left: -25%;
    }
}